@page "/bptest"
@using System.Numerics
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>Counter</PageTitle>

<p>
    ABC
</p>

<Viewer UseDefaultScene=@true></Viewer>